body {
	background: rgba(34, 158, 153, 0.62);
}

#Portugal {
    background: #ececec;
    font-family: 'Amatic SC', cursive;
    font-size: 2.25em;
    color: rgba(2, 171, 179, 0.98);
    line-height: 105%;
    padding: 3.3% 2%;
    padding-left: 5%;
    border-radius: 30%;
    margin: 2%;
}

#Belize {
	background: #ccc;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.55em;
	color: #078d96;
	line-height: normal;
	padding: 2.9% 2.6%;
	border-radius: 25%;
	margin: 2%;
}

#Italy {
	background: #969494;
	font-family: 'Delius Unicase', cursive;
	font-size: 1.6em;
	color: rgba(6, 224, 234, 0.97);
	line-height: 1.2;
	padding: 4% 3%;
	border-radius: 20%;
	margin: 2%;
}

#Africa {
	background: #646564;
	font-family: 'Rock Salt', cursive;
	font-size: 1.5em;
	color: rgb(94, 210, 216);
	line-height: 1.2em;
	padding: 1% 4%;
	border-radius: 15%;
	margin: 2%;
}

#BoraBora {
	background: #3d3e3d;
	font-family: 'Indie Flower', cursive;
	font-size: 1.7em;
	color: #b6eef5;
	line-height: 120%;
	padding: 5% 5%;
	border-radius: 10%;
	margin: 2%;
}

footer {
	font-family: 'Shadows Into Light', cursive;
}

#bottom-footer {
	color: #f7f3f3;
	font-size: 1.25em;
	margin: 2%;
}